:host {
  display: flex;
  width: 250px;
  align-items: center;
  border: 1px solid lightgray;
}

input {
  display: block;
  border: none;
  text-align: center;
  flex: 1;
}

button {
  display: block;
  outline: none;
  background-color: royalblue;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}
